/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
.env
.env.*
!.env.example
!.gitignore
!.gitkeep
.DS_Store
